langchain==0.3.3
langchain-community==0.3.2
langchain-core==0.3.10
langchain-openai==0.2.0
langchain-experimental==0.3.2
langchain-text-splitters==0.3.0

pdfplumber==0.11.3
faiss-cpu==1.8.0
sentence-transformers==5.1.2
huggingface-hub==0.36.0
torch==2.9.0

openai==1.109.1
pydantic==2.9.2
pydantic-settings==2.11.0
python-dotenv==1.2.1

fastapi==0.120.1
uvicorn==0.38.0
requests==2.32.5